.ai-block {
  background-color: #4bc1bd;
}

.ml-block {
  background-color: #3c415a;
  color: white;
}

.v-block {
  background-color: #df8686;
}

.o-block {
  background-color: #4cbc8b;
}

.m-block {
  background-color: #ebb661;
}